@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-end-rgb: 255, 255, 255;
  word-break: keep-all;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  @apply tracking-tight;
}

ul {
  list-style-position: inside;
}

li {
  text-indent: -1em;
  padding-left: 1em;
  margin-top: 5px;
}

span {
  margin-right: 0 !important;
}

p {
  margin-bottom: 5px;
}
